.StreamerSection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.streamer_info{
    width: 80%;
    max-width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7%;

    * {
        font-size: 1.5vw;
    }
}

.index_indicator, .add_button{
    width: 2vw;
    min-width: 2vw;
    height: 2vw;
    background-color: #1f2833;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
    transition: background-color 0.2s ease-in-out;

    body.dark & {
        background-color: #c5c6c7;
    }
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 1000px;
}

.add_button{
    cursor: pointer;
}

.add_button:hover{
    background-color: #66fcf1;
    color: #0b0c10;

    body.dark & {
        background-color: #1f2833;
        color: #c5c6c7;
    }
}

/* Mobile */

@media screen and (max-width: 850px){
    .index_indicator, .add_button {
        min-width: unset;
        width: 4vw;
        height: 4vw;
        font-size: 2.4vw;
    }

    .streamer_info p {
        font-size: 2.5vw;
    }
    
    .avatar {
        width: 4vw;
        height: 4vw; 
    }
}

