.headers-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.headers-container h1 {
    font-size: 3.9vw;
}

.emphasized {
    color: #66fcf1;

    body.light & {
        color: #45a29e; 
    }
}

.mod1-container{
    display: flex;
    flex-direction: column;

    p, span {
        font-size: 1.5vw; 
    }
}

.mod1-container div {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.mod1-container span {
    color: #66fcf1;
}

/* Mobile */

@media screen and (max-width: 850px){
    .mod1-container {
        align-items: center;
    }
}