.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav{
  padding: 0;
  margin: 0;
  min-width: 40%;
}

.nav-links{
  list-style: none;
  display: flex;
  padding: 0 10px;
  gap: 15px;
}

.nav-links li:hover{
  transform: scale(1.1);
}

.nav-links a{
  font-size: 700;
  text-decoration: none;
}

.nav-links li a:hover{
  color: #c5c6c7;
}

.hamb-icon {
  display: none;
}

.navbar-title{
  font-size: 40px;
}

.navbar-right{
  display: flex;
  justify-content: end;
  gap: 7px;
  min-width: 40%;
}

/* Mobile */

@media screen and (max-width: 850px){
  .header {
    display: flex;
    flex-direction: column-reverse;
    min-height: 8vw;
  }

  nav{
    padding: 0;
    margin: 0;
    min-width: auto;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    width: 100vh;
    height: auto;
    padding: 2vw 0 2vw 0;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .show {
    display: flex;
  }

  .nav-links li a {
    font-size: 2.5vw;
  }

  .hamb-icon {
    height: 6vw;
    display: block;
    right: 30px;
    top: 7px;
    cursor: pointer;
  }

  .active {
    transform: rotate(90deg);
  }

  .title-hamb {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  .navbar-title {
    font-size: 4.7vw;
  }

  .navbar-right {
    display: none;
  }
}


