a{
  text-decoration: none;
}

nav{
  padding: 0;
  margin: 0;
}

.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 10px;
}

.header nav {
  min-width: 40%;
}

.nav-links{
  list-style: none;
  display: flex;
  padding: 0 10px;
  gap: 15px;
}

.nav-links li{
  display: inline-block;
}

.nav-links li:hover{
  transform: scale(1.1);
}

.nav-links a{
  font-size: 700;
}

.nav-links li a:hover{
  color: #c5c6c7;
}

.navbar-title{
  font-size: 40px;
}

.navbar-right{
  display: flex;
  justify-content: end;
  gap: 7px;
  min-width: 40%;
}



