.footer {
    position: fixed;
    display: flex;
    gap: 10px;
    left: 16px;
    bottom: 16px;
    text-align: left;
    background: #0b0c10;
    padding: 8px 24px;
    border-radius: 32px;
    opacity: .6;
    backdrop-filter: blur(8px);
    max-height: 36px;
    p {
        display:none
    }
}

.footer p {
    color: #c5c6c7;

    body.light & {
        color: #c5c6c7;
    }
}

.footer:hover {
    p {
        display: block;
    }
}

/* Mobile */

@media screen and (max-width: 850px) {
    .footer {
        padding: 1vw 2vw;
    }
    
    .footer p {
        font-size: 2vw;
    }
}